
$font-standard: Arial, Helvetica, sans-serif;

$color-bluey-grey: #6a7885;

$color-grey: #8c8d8f;
$color-grey-dark: #383737;
$color-grey-light: #afafb1;

$color-pink: #dbc1ba;
$color-pink-light: #f7e4de;
