@use "../../styles/Variables.scss" as *;

.team-box {
  border-top: 2px solid $color-grey-light;
  margin: 0px 30px;
  display: grid;
  grid-template-columns: auto 70px;
  grid-template-rows: auto;
  align-items: center;
  gap: 10px;

  &__name {
    margin: 10px 5px;
    color: $color-grey-dark;
    grid-column: 1 / span 1;
    align-self: flex-start;
  }

  &__details {
    margin: 0 5px 20px;
    color: $color-pink;
    grid-column: 1 / span 2;

    .team-box__region {
      margin-top: -55px;
    }
  }

  &__logo {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    grid-column: 2 / span 1;
    justify-self: end;
  }

  &__players {
    grid-column: 1 / span 2;
    margin-top: -30px;
    margin-left: 5px;
    .team-box__player-text {
      color: $color-grey-dark;
    }
  }
}

.players-list {
  margin: 5px 0 10px 30px;
  &__player {
    text-decoration: none;
    color: $color-grey-dark;
  }
}

@media (min-width: 1024px) {
  .team-box {
    border-top: 2px solid $color-grey-light;
    margin: 0px 30px;
    display: grid;
    grid-template-columns: 360px 70px;
    grid-template-rows: auto;
    align-items: center;
    gap: 10px;
    flex: 0 1 calc(50% - 70px);
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .team-box {
    border-top: 2px solid $color-grey-light;
    margin: 0px 30px;
    display: grid;
    grid-template-columns: 560px 70px;
    grid-template-rows: auto;
    align-items: center;
    gap: 10px;
    flex: 0 1 calc(50% - 70px);
    margin-bottom: 20px;
    width: 100%;
  }
}
