@use '../../styles/Variables.scss' as *;

.team-box {
  border-top: 2px solid $color-grey-light;
  margin: 0px 30px;
  &__name {
    margin: 10px 5px;
    color: $color-grey-dark;
  }

  &__details {
    margin: 0 5px 20px;
    color: $color-pink;
  }

  &__logo {
    margin-top: 10px;
    width: 70px;
    height: 70px;
  }
}