@use "../../styles/Variables.scss" as *;

.latest-tournament {
  border: 2px solid $color-pink;
  padding: 20px;
  width: 300px;
  background-color: $color-grey-dark;
  color: $color-pink;
  margin-bottom: 50px;
  animation: pulse 2s infinite;

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}
