@use '../../styles/Variables.scss' as *;

.latest-tournament { // make pulse
  border: 2px solid $color-pink;
  padding: 20px;
  // border-radius: 40px;
  width: 300px;
  background-color: $color-grey-dark;
  color: $color-pink;
  margin-bottom: 50px;
}

