@use "../../styles/Variables.scss" as *;

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  background-color: $color-grey-dark;
  height: 65px;

  &__home,
  &__tournaments,
  &__teams {
    text-decoration: none;
    color: $color-pink;
  }
}
